:root {
    --color-fuente-pincipal: white;
    --color-fuente-secundaria: rgba(245, 202, 0, 255);
    --color-shadow: rgba(245, 202, 0, 255);
    --color-fuente-form: rgba(250, 250, 250, 0.358);
    --bg-color-body: rgba(16, 20, 23, 255);
    --bg-color-nav: #000000;
    --pointer-bg-color: #bbb;
    --pointer-active-color: #F5CA00;
    --bg-color-form: rgb(68, 68, 68);
    --bg-color-form-text: rgba(16, 20, 23, 255);
    --font-family1: 'Raleway', sans-serif;
    --font-family2: 'Merriweather Sans', sans-serif;
    --max-width-grande: 1920px;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --margin-nav: 0rem;
    --size-menu-nav: 1.2rem;

}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-fuente-pincipal);
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-body);
    font-family: var(--font-family1);
}


nav {
    background-color: transparent;
    width: 100%;
    position: fixed;
    font-family: var(--font-family2);
    font-weight: bold;
    z-index: 1;
    transition: all 0.5s ease-in-out;


}

#faq_h2{
    text-align: center;
}

.toggle {
    display: none;
    font-size: 2em;
    padding: 1em;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    position: fixed;
}

.fa-bars:before,
.fa-navicon:before {
    font-size: 1.5em;
}

.sticky {
    position: fixed;
    background-color: var(--bg-color-nav);
}

.menu {
    text-align: center;
    margin: 0px;
    padding: 0px;
}


.menu2 {
    display: block;
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-right: var(--margin-nav);
}

.menu2 button {
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    border: none;
}

.navegacion {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    margin-left: var(--margin-nav);
}

.logo:hover {
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;


}

.logo-container-mobile {
    display: none;
    position: fixed;
    right: 0;
    padding: 1em;
    z-index: 20;
}




.menu li {
    display: inline-block;
}

.menu a,
.menu2 a {
    padding: 25px;
    color: var(--color-fuente-pincipal);
    text-decoration: none;
    font-size: var(--size-menu-nav);
    display: block;
    transition: all 0.5s ease-in-out;
}

.menu a:hover,
.menu2 a:hover {
    color: var(--color-fuente-secundaria);
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}

.fa-solid {
    font-size: var(--size-menu-nav);
}

.fa-solid:hover {
    transform: scale(1.3);
    transition: all 0.5s ease-in-out;
}

p {
    font-family: var(--font-family1);
    color: var(--color-fuente-pincipal);
}

.mySlides {
    display: none;
}

/*poner imagenes*/
.img-size1,
.img-size2 {
    width: 100%;
}

.carrusel {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Slideshow container */
.slideshow-container {
    max-width: var(--max-width-grande);
    width: 100%;
    position: relative;
    display: block;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--pointer-bg-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: var(--pointer-active-color);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}



section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eventoproximo {
    max-width: var(--max-width-grande);
    margin: 0 5vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


ul {
    list-style-type: none;
}

.img-eventoproximo {
    display: flex;
    /* filter: grayscale(100%); */
    width: 100%;
    box-shadow: 0 3px 10px rgb(0, 0, 0);
    border-radius: 11px;
    transition: transform .2s;
    cursor: pointer;
    vertical-align: bottom;
}

.img_container:hover {
    box-shadow: 0 3px 10px var(--color-shadow);
    filter: none;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.img_container {
    position: relative;
    width: 17vw;
    margin: 0.4rem;
    padding: 0.4rem;
    border-radius: 11px;
}

.img_text_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 11px;
    backdrop-filter: blur(1.5px);
}


.img_text_container:hover {
    opacity: 1;
}

.img_text_container>* {
    transform: translateY(40px);
    transition: transform 0.40s;
}

.img_text_container:hover>* {
    transform: translateY(-20px);
}

.img_text button {
    background-color: var(--color-fuente-secundaria);
    color: black;
    border-radius: 11px;
    font-size: var(--size-menu-nav);
    cursor: pointer;
    font-family: var(--font-family1);
}

.img_text button:hover {
    background-color: black;
    color: var(--color-fuente-secundaria);
    border-radius: 11px;
    font-weight: bold;
    font-size: var(--size-menu-nav);
    /* padding: 5px; */
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

/* STREAMING */
.streaming {
    max-width: var(--max-width-grande);
    margin: 0 5vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-streaming {
    display: flex;
    /* filter: grayscale(100%); */
    width: 100%;
    box-shadow: 0 3px 10px rgb(0, 0, 0);
    border-radius: 11px;
    transition: transform .2s;
    cursor: pointer;
    vertical-align: bottom;
}

.streaming_if {
    width: 80%;
    display: flex;
    justify-content: center;
}

.streaming_if iframe {
    width: 60vw;
    height: 33.75vw;
}

.img_container_st:hover {
    box-shadow: 0 3px 10px var(--color-shadow);
    filter: none;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.img_container_st {
    position: relative;
    width: 8vw;
    margin: 0.4rem;
    padding: 0.4rem;
    border-radius: 11px;
}

.img_text_container_st {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 11px;
    backdrop-filter: blur(1.5px);
}


.img_text_container_st:hover {
    opacity: 1;
}

.img_text_container_st>* {
    transform: translateY(40px);
    transition: transform 0.40s;
}

.img_text_container_st:hover>* {
    transform: translateY(-20px);
}
.img_text_container_live{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.6); */
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items:flex-start;
    justify-content: right;
    border-radius: 11px;
}
.img_text_live{
    color:white;
    font-weight: bold;
    font-size:0.8rem;
    background-color: red;
    margin: 0.6rem;
    padding:0.3rem;
    border-radius: 7px;
}

.img_text_st button {
    background-color: var(--color-fuente-secundaria);
    color: black;
    border-radius: 11px;
    font-size: var(--size-menu-nav);
    cursor: pointer;
    font-family: var(--font-family1);
}

.img_text_st button:hover {
    background-color: black;
    color: var(--color-fuente-secundaria);
    border-radius: 11px;
    font-weight: bold;
    font-size: var(--size-menu-nav);
    /* padding: 5px; */
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
/* MODAL */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid #F5CA00;
    border-radius: 10px;
    z-index: 10;
    background-color: #101417;
    width: 500px;
    max-width: 80%;
    color: var(--color-fuente-pincipal);
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F5CA00;
}

.modal-header .title {
    font-size: var(--size-menu-nav);
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: var(--size-menu-nav);
    font-weight: bold;
    color: var(--color-fuente-pincipal);
}

.close-button {
    display: block;
    justify-content: right;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.modal img {
    max-width: 400px;
    height: auto;
}

.loader-container {
    position: fixed;
    background-color: #101417;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.loader {
    border: 16px solid #101417;
    /* border: 16px solid #1e2327 */
    border-radius: 50%;
    border-top: 16px solid #F5CA00;
    border-bottom: 16px solid #F5CA00;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

/* acá está lo del formulario que había creado */
.contenedor-formulario-contacto {
    max-width: 40.75rem;
    color: var(--color-fuente-secundaria);
    margin: 0 1rem;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--color-shadow);
    background-color: var(--bg-color-form-text);
    font-family: var(--font-family1);
}

.contenedor-formulario-contacto label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--color-fuente-pincipal);
    font-family: var(--font-family1);
}

.contenedor-formulario-contacto textarea {
    min-height: 6.25rem;
    font-weight: var(--bold-font);
    background-color: var(--bg-color-body);
    color: var(--color-fuente-form);
    font-family: var(--font-family1);
}

.contenedor-formulario-contacto .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 1rem;
    outline: none;
    background-color: var(--bg-color-form);
    color: var(--color-fuente-form);
    font-family: var(--font-family1);
}

.input-field::placeholder {
    padding: 0.5rem;
    color: var(--color-fuente-form);
    font-family: var(--font-family1);
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--bg-color-form);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
    color: var(--font-color);
}

.submit-btn:hover {
    background-color: var(--bg-color-body);
    border: 2px solid var(--color-shadow);
    cursor: pointer;
    color: var(--color-fuente-secundaria);
}

.footer {
    display: flex;
    width: 100%;
    justify-content: center;
}

#loguearse,
#exitoso {
    z-index: 100;
}

.oculto {
    display: none;
    top: 0;
}

.visible {
    top: 100%;
    transition: top 0.5s;
    
}

/*FAQ*/

.faq-wrapper {
    /*Para que el footer siempre esté abajo*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.faq-container {
    padding-top: 74px;
    width: 100%;
    /* align-items: flex-start; */
}

.faq {
    background-color: #222a31;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 1.1rem;
    padding: 1.5em;
    width: 100%;
    color: white;
    text-align: left;
}

.activado, .faq:hover {
    background-color: #181e23;
  }


.faq:hover {
    cursor: pointer;
}

.plus {
    position: absolute;
    right: 0;
    margin-right: 20px;
    align-self: center;
    transition: transform 0.8s;
}

.plus:hover {
    transform: none;
    transition: none;
}

.rotate {
    transform: rotate(45deg); 
    transition: transform 0.5s;
}

.rotate:hover {
    transform: rotate(45deg); 
    transition: none;
}

.respuesta {
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    text-align: left;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    font-size: 1rem;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes spin {

    /*no se está usando*/
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* On smaller screens, decrease text size 
revisar para qué se usa y modificar cuando ajustemos la página completa*/
@media only screen and (min-width: 1025px) {
    :root {
        font-size: 16px
    }

    .img_container {
        position: relative;
        width: 18vw;
        margin: 0.4rem;
        padding: 0.4rem;
        border-radius: 11px;
    }
    .img_container_st {
        position: relative;
        width: 12vw;
        margin: 0.4rem;
        padding: 0.4rem;
        border-radius: 11px;
    }

    .img-size1 {
        display: block
    }

    .img-size2 {
        display: none
    }

}

@media only screen and (max-width: 1024px) {
    :root {
        font-size: 16px
    }

    .img_container {
        position: relative;
        width: 25vw;
        margin: 0.4rem;
        padding: 0.4rem;
        border-radius: 11px;
    }
    .img_container_st {
        position: relative;
        width: 18vw;
        margin: 0.4rem;
        padding: 0.4rem;
        border-radius: 11px;
    }

    .img-size1 {
        display: block
    }

    .img-size2 {
        display: none
    }

}

@media only screen and (max-width: 768px) {
    :root {
        font-size: 14px
    }
    .streaming_if iframe {
        width: 80vw;
        height: 45vw;
    }

    .img_container {
        position: relative;
        width: 40vw;
        margin: 0.2rem;
        padding: 0.2rem;
        border-radius: 11px;
    }
    .img_container_st {
        position: relative;
        width: 30vw;
        margin: 0.4rem;
        padding: 0.4rem;
        border-radius: 11px;
    }

    .menu,
    .menu2 {
        display: none;
    }

    .img-size1 {
        display: none
    }

    .img-size2 {
        display: block
    }

    .toggle {
        display: inline-block;
        z-index: 20;
    }


    .navegacion {
        background-color: var(--bg-color-nav);
        left: 100%;
        transition: left 0.5s;
        box-shadow: 0 4px 3px -3px var(--color-shadow);
        flex-direction: column;
    }

    .navegacion-mobile {
        left: 0;
    }

    .menu {
        text-align: center;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        height: 31vh;

    }

    .menu li {
        display: flex;
    }

    .logo-container {
        display: none;
    }
    .menu a{
        padding:15px;
    }
    .menu2 {
        display: flex;
    }

    .logo-container-mobile {
        display: flex;

    }
}

@media only screen and (max-width: 300px) {
    :root {
        font-size: 11px
    }
    .streaming_if iframe {
        width: 80vw;
        height: 45vw;
    }
    .img_container_st {
        position: relative;
        width: 50vw;
        margin: 0.4rem;
        padding: 0.4rem;
        border-radius: 11px;
    }

    .img_container {
        position: relative;
        width: 80vw;
        margin: 0.1rem;
        padding: 0.1rem;
        border-radius: 11px;
    }

    .menu,
    .menu2 {
        display: none;
    }

    .img-size1 {
        display: none
    }

    .img-size2 {
        display: none
    }

    .dot {
        display: none
    }

    .toggle {
        display: inline-block;
        z-index: 20;
    }


    .navegacion {
        background-color: var(--bg-color-nav);
        left: 100%;
        transition: left 0.5s;
        box-shadow: 0 4px 3px -3px var(--color-shadow);
    }

    .navegacion-mobile {
        left: 0;
    }

    .menu {
        text-align: center;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        height: 31vh;

    }
    .menu ul{
        display: flex;
        align-content:space-between;
        padding: 10px;
    }

    .menu a{
        padding:15px;
    }
    .logo-container {
        display: none;
    }

    .menu2 {
        display: flex;
    }

    .logo-container-mobile {
        display: flex;
    }
}