{% include 'header.html' %}
<h2>Crear evento</h2>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages  %}
                {{message}}
            {% endfor %}
        </div> 
    {% endif %}
{% endwith %}

<form method="post" action="/store" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            Ingressar eventos
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos de evento</h5>
            <p class="card-text">
            <div class="form-group">
                <label for="txtNombre">Nombre</label>
                <input id="txtNombre" class="form-control" type="text" name="txtNombre">
            </div>
            <div class="form-group">
                <label for="txtTitulo">Título</label>
                <input id="txtTitulo" class="form-control" type="text" name="txtTitulo">
            </div>
            <div class="form-group">
                <label for="txtCuando">Cuándo</label>
                <input id="txtCuando" class="form-control" type="text" name="txtCuando">
            </div>
            <div class="form-group">
                <label for="txtDonde">Dónde</label>
                <input id="txtDonde" class="form-control" type="text" name="txtDonde">
            </div>
            <div class="form-group">
                <label for="txtDireccion">Direccion </label>
                <input id="txtDireccion" class="form-control" type="text" name="txtDireccion">
            </div>
            <div class="form-group">
                <label for="txtFoto">Foto</label>
                <input id="txtFoto" class="form-control" type="file" name="txtFoto">
            </div>
            <input id="my-input" class="btn btn-success" type="submit" value="Agregar">
            <a class="btn btn-primary" href="{{url_for('index')}}">Volver</a>
            </p>
        </div>
    </div>
</form>

<br></br>


{% include 'footer.html' %}