{% include 'header.html' %}
<br><h3>Editar evento</h3>

{% for evento in eventos %}
<form method="post" action="/update" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            Ingresar eventos
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos de evento</h5>
            <p class="card-text">
            <div class="form-group">
                <span class="input-group-text" id="basic-addon1">ID</span>
                <input type="text" class="form-control" name="txtID" id="txtID" value="{{evento[6]}}">
            </div>
            <div class="form-group">
                <span class="input-group-text" id="basic-addon1">Nombre</span>
                <input type="text" class="form-control" name="txtNombre" id="txtNombre" value="{{evento[0]}}">
            </div>
            <div class="form-group">
                <span class="input-group-text" id="basic-addon1">Titulo</span>
                <input type="text" class="form-control" name="txtTitulo" id="txtTitulo" value="{{evento[2]}}">
            </div>
            <div class="form-group">
                <span class="input-group-text" id="basic-addon1">Cuando</span>
                <input type="text" class="form-control" name="txtCuando" id="txtCuando" value="{{evento[3]}}">
            </div>
            <div class="form-group">
                <span class="input-group-text" id="basic-addon1">Dónde</span>
                <input type="text" class="form-control" name="txtDonde" id="txtDonde" value="{{evento[4]}}">
            </div>
            <div class="form-group">
                <span class="input-group-text" id="basic-addon1">Dirección</span>
                <input type="text" class="form-control" name="txtDireccion" id="txtDireccion" value="{{evento[5]}}">
            </div>
            <div class="form-group">
                <img src="{{url_for('uploads',nombreFoto=evento[1])}}" width="100" alt="">
                <span class="input-group-text" id="basic-addon1">Foto</span>
                <input type="file" class="form-control" name="txtFoto" id="txtFoto" value="{{evento[2]}}">
            </div>

            <input id="my-input" class="btn btn-success" type="submit" value="Actualizar">

            <a class="btn btn-primary" href="{{url_for('index')}}">Volver</a><br><br>

            </p>
        </div>
    </div>


    <!-- ID: <input type="text" value="{{evento[0]}}" name="txtID" id="txtID"><br>
        Nombre : <input type="text" value="{{evento[1]}}" name="txtNombre" id="txtNombre"><br>
        Correo : <input type="text" value="{{evento[2]}}" name="txtCorreo" id="txtCorreo"><br>
        Foto : 
        <img src="{{url_for('uploads',nombreFoto=evento[3])}}" width="100" alt="">
        <input type="file" name="txtFoto" id="txtFoto"><br><br>
        
        <input type="submit" value="Actualizar"> -->
</form>
{% endfor %}


{% include 'footer.html' %}