<!-- Se incluye la etiqueta de abajo con el jinja, y se comparte el header y el footer -->
    {% include 'header.html' %} 
    <h3>Tabla de Eventos</h3>
           <a class="btn btn-success" href="{{url_for('create')}}">Cargar nuevo evento</a><br><br>

    <!-- la tabla se generó con bootstrap con b-table-header -->
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Foto</th>
                <th>Título</th>
                <th>Cuando</th>
                <th>Donde</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Con el Jinja2 se podrá usar el jfor, que te genera directamente un for in endfor que se usará a continuación -->
            <!-- En la variable eventos habiamos guardado la tupla asi que para cada evento, recorremos todos sus campos-->
            {% for evento in eventos %}

            <tr>
                <td>0000{{evento[6]}}</td>
                <td>{{evento[0]}}</td>
                <!-- Acá se ponen un img apuntando a la carpeta donde están las fotos y nombre de la foto -->
                <td><img class="img-thumbnail" width="100" src="https://raw.githubusercontent.com/carjes80/eventos-proyecto/main/img/eventos/{{evento[1]}}" alt=""></td> 
                <td>{{evento[2]}}</td>
                <td>{{evento[3]}}</td>
                <td>{{evento[4]}}</td>
                <td>{{evento[5]}}</td>
                <td>
                    <a class="btn btn-warning"href="/edit/{{evento[6]}}">Editar</a> |
                    <a class="btn btn-danger" href="/destroy/{{evento[6]}}" onclick="return confirm('¿Está seguro que quiere borrar al evento {{evento[0]}}?')">Borrar</a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    <br></br>

    {% include 'footer.html' %}
