<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>CRUD 22516
    </title>
</head>

<body style="max-width: 85%; text-align: center; margin: 5%;">
    <h1>Tabla de eventos</h1>
    <!-- la tabla se generó con bootstrap con b-table-header -->
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Foto</th>
                <th>Título</th>
                <th>Cuando</th>
                <th>Donde</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Con el Jinja2 se podrá usar el jfor, que te genera directamente un for in endfor que se usará a continuación -->
            <!-- En la variable empleados habiamos guardado la tupla asi que para cada empleado, recorremos todos sus campos-->
            {% for evento in eventos %}

            <tr>
                <td>0000{{evento[6]}}</td>
                <td>{{evento[0]}}</td>
                <td>{{evento[1]}}</td>
                <td>{{evento[2]}}</td>
                <td>{{evento[3]}}</td>
                <td>{{evento[4]}}</td>
                <td>{{evento[5]}}</td>
                <td>
                    <a href="/edit/{{evento[6]}}">Editar</a> |
                    <a href="/destroy/{{evento[6]}}">Borrar</a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    <br></br>

    <div class="btn-group" role="group" aria-label="Button group">
        <button><a href="/create"> CREAR </a></button>

    </div>
</body>

</html>